body {
  background-color: #E0E0E0;
}

.container {
  margin: 0 auto;
  max-width: 992px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

header div:first-child {
  margin: 0 auto;
  text-align: center;
  padding: 5%;
}

header ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

header ul li {
  width: 100%;
  text-align: center;
  text-decoration: none;
  list-style: none;
  padding-top: 2%;
  padding-bottom: 2%;
}

header ul li a {
  text-decoration: none;
  color: #37474f;
  display: inline-block;
  width: 100%;
  padding: 1em 0;
}

header ul li:hover {
  background-color: #37474f;
}

header ul li:hover a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  width: 100%;
  padding: 1em 0;
}

.region-top {
  display: flex;
  flex-direction: column;
}

.region-top .title_article {
  margin: 3%;
}

.region-top .tags {
  color: #ffffff;
  font-weight: lighter;
  font-size: 14px;
  margin-left: 3%;
}

.region-top .article-left {
  background-color: #FF7043;
  color: #ffffff;
}

.region-top .article-left div {
  padding: 3%;
}

.region-top .article-right {
  display: flex;
  flex-direction: column;
}

.region-top .article-right .article-right-1 {
  background-color: #C62828;
}

.region-top .article-right .article-right-2 {
  background-color: #5C6BC0;
}

.region-main {
  background-color: #E0E0E0;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.region-main div {
  padding: 3%;
}

.region-sidebar {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: #F5F5F5;
}

.region-sidebar form {
  display: flex;
  flex-direction: column;
}

.region-sidebar form label {
  margin: 1%;
}

.region-sidebar form input {
  margin: 1%;
}

.region-sidebar form input[type=submit] {
  background-color: #5C6BC0;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #ffffff;
  width: 100px;
  margin: 5% auto;
  padding: 5px;
}

footer {
  height: 50px;
  background-color: #000000;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  header div:first-child {
    padding: 0;
    margin: 0;
  }
  header div:last-child {
    width: 25%;
    height: 80px;
    line-height: 80px;
  }
  .region-top .article-left {
    position: relative;
  }
  .region-top .article-left div {
    background-color: #FF7043;
    width: 50%;
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
  .region-top .article-right {
    flex-direction: row;
  }
  .region-top .article-right .article-right-1 {
    width: 50%;
  }
  .region-top .article-right .article-right-2 {
    width: 50%;
  }
  .region-main {
    padding: 5% 20% 5% 20%;
  }
  .region-sidebar {
    padding: 5% 20% 5% 20%;
  }
}

@media screen and (min-width: 992px) {
  .region-top {
    flex-direction: row;
  }
  .region-top .article-left {
    position: relative;
    width: 70%;
  }
  .region-top .article-left img {
    height: 100%;
  }
  .region-top .article-right {
    flex-direction: column;
    width: 30%;
  }
  .region-top .article-right .article-right-1 {
    width: 100%;
  }
  .region-top .article-right .article-right-2 {
    width: 100%;
  }
  .region_main_sidebar {
    display: flex;
    flex-direction: row;
  }
  .region-main {
    width: 70%;
    padding: 3% 0 3% 0;
  }
  .region-main article {
    display: flex;
    flex-direction: row;
  }
  .region-main article div:first-child {
    padding: 2% 0 2% 0;
    width: 70%;
  }
  .region-main article div:last-child {
    padding: 2%;
  }
  .region-sidebar {
    width: 30%;
    padding: 3%;
  }
  .region-sidebar form label {
    margin: 2%;
  }
  .region-sidebar form input {
    margin: 2%;
  }
  .region-sidebar form input[type=submit] {
    margin: 10% auto;
  }
}
